<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartpc.gathering.core.dao.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.smartpc.gathering.core.po.user_role_permission.RolePermission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roleId" property="roleid" jdbcType="BIGINT" />
    <result column="permissionId" property="permissionid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleId, permissionId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_ROLE_PERMISSION
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SYS_ROLE_PERMISSION
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartpc.gathering.core.po.user_role_permission.RolePermission" >
    insert into T_SYS_ROLE_PERMISSION (id, roleId, permissionId
      )
    values (#{id,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}, #{permissionid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartpc.gathering.core.po.user_role_permission.RolePermission" >
    insert into T_SYS_ROLE_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="permissionid != null" >
        permissionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="permissionid != null" >
        #{permissionid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartpc.gathering.core.po.user_role_permission.RolePermission" >
    update T_SYS_ROLE_PERMISSION
    <set >
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=BIGINT},
      </if>
      <if test="permissionid != null" >
        permissionId = #{permissionid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartpc.gathering.core.po.user_role_permission.RolePermission" >
    update T_SYS_ROLE_PERMISSION
    set roleId = #{roleid,jdbcType=BIGINT},
      permissionId = #{permissionid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>